
<br>
<br><br>   
<app-shortcut></app-shortcut>
<h1>&nbsp;&nbsp;&nbsp;&nbsp;Hiee {{visiter}},</h1>  

<p>
    
We all know that what problem we are  Facing due this COVID19 and suddenly  
we realize that we need to &nbsp;boost our&nbsp; immuity&nbsp; as well as be fit.&nbsp;this project 
is small&nbsp; practice &nbsp;to help&nbsp; people to&nbsp;
stay &nbsp;fit and &nbsp;help them to &nbsp;achive good 
health.in this project we provided&nbsp; the tips that help to stay fit.
you&nbsp; can get health tip on almost every body part.
you can also share your thoughts with us if you  have new healthy idea that
not mention in our list,&nbsp; by registering you can contribute your ideas as well 
as you will &nbsp;get &nbsp;the healthy&nbsp; tips based on your choice,your &nbsp;contribution is 
always valuable for us.  </p>


<br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<button mat-stroked-button color="primary" routerLink="/register">Register</button>
&nbsp;&nbsp;
<button mat-stroked-button color="accent" routerLink="/login">   Login</button>



