<div> 
    <br>
<h1>Quick Access
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
</h1>
<ul>

<li> <a routerLink="/quick" (click)="setvalue(1)">Most Visited Topics</a><br> </li>    
<li> <a routerLink="/quick" (click)="setvalue(2)">Benifit After Registration</a> <br></li> 
<li> <a routerLink="/quick" (click)="setvalue(3)">Write a Comment</a><br> </li>
<li> <a routerLink="/quick" (click)="setvalue(4)">Your Contribution</a><br> </li>
<li> <a routerLink="/quick" (click)="setvalue(5)">Know About us</a> </li>


</ul>
</div>

