<app-heart></app-heart>
<div>
  <br>
  <br>
  <br>

  <br>
  
 <h1> Login </h1>   
  
 <br>


  <mat-form-field appearance="outline">
        <mat-label>Email-id</mat-label>
        <input matInput  placeholder="pat@example.com" [formControl]="email" required  >
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> 
        
  </mat-form-field>
<br>



<mat-form-field appearance="outline">
  <mat-label>Password</mat-label>
  <input matInput type="password" [formControl]="email" required  >
  <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> 
</mat-form-field>
<br>

<a class="a1"  routerLink="/passwordrecovery">Forgot password</a>
<br>
<br>
<br>



  <button mat-stroked-button color="primary"  >Login</button>
  <br>
 <br>
 <br>
  <p> New user?? &nbsp; <a class="p" routerLink="/register">Register Here </a></p>

</div>
