
<br>
<br>
<br>
<app-shortcut></app-shortcut>
<h1>Hieee {{visiterjoin}}, </h1>
<p> we will be very happy if you join our community to share your thougts and idea with us.
    share your idea and knowledge with our development team ,they will help you to publish your 
    ideas and try to share your knowledge to people world wide.using one of the following medium
    you can join us.your knowledge and ideas are always valueable for us.   
</p>
<br>
<br>
<br>
<div>
<a href="www.facebook.com"><img src=".\assets\images\facebook.png"></a>
<a href="www.instagram.com"><img src=".\assets\images\instagram.png"></a>
<a href="www.gmail.com"><img src=".\assets\images\gmail.png"></a>
<a href="www.twitter.com"><img src=".\assets\images\twitter.png"></a>
<a href="www.telegram.com"><img src=".\assets\images\telegram.png"></a>
</div>