h1
{
    font-weight: bold;
    color: limegreen;
}

li
{
    width: 40em;
    color: grey;
    text-align: justify;
    margin-inline-start: 20px;
    font-size: 17px;
    line-height: 22px;
    text-transform: capitalize;
    
}

.mat-form-field
{
    margin-inline-start: 50px;
    
   
}



.mat-form-field mat-label
{
    color: limegreen;
    font-weight: bold;
    height: 50px;    
}

.width
{
    width:25em;
}

.width1
{
    width:44.5em;
    height:20em ;
}

.mat-form-field textarea
{
    color: limegreen;
    font-weight: bold;
    height: 15em;
    
}

.mat-stroked-button
{
margin-inline-start: 3.5em;
width: 10em;
background-color: limegreen;
color: white;
}

.mat-stroked-button:hover
{
border-color: red;
}

